.profile__edit-button {
  border: 1px solid #ffffff;
  opacity: 1;
  margin-left: 18px;
  width: 24px;
  height: 24px;
  background-color: black;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}
