.profile__info {
  margin-right: 220px;
  max-width: 366px;
  text-align: left;
  align-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 1000px) {
  .profile__info {
    margin-right: 100px;
  }
}

@media screen and (max-width: 900px) {
  .profile__info {
    margin-right: 50px;
  }
}

@media screen and (max-width: 824px) {
  .profile__info {
    margin-right: 0;
    margin-bottom: 36px;
  }
}
